*{
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    background-color: green;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header__search {
    padding: 8px;
}

.movie {
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 1%;
    background-color: rgb(83, 214, 83);
}

.logo {
    width: 100%;
}

.review {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
    background-color: white;
    transform: translateY(101%);
}

.movie:hover .review {
    transform: translateY(0);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 30px 10px;
    font-weight: 700;
}

.page {
    padding: 15px;
    cursor: pointer;
}

.page.disabled {
    color: grey;
    cursor: not-allowed;
}

.more {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10%;
    padding: 7px 25px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }